<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngFor="let error of getFormControlErrors('firstName')">
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngFor="let error of getFormControlErrors('lastName')">
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngFor="let error of getFormControlErrors('email')">
        {{ error }}
      </mat-error>
    </mat-form-field>
    <div>
      <!-- Checkbox -->
      <mat-checkbox formControlName="newsletter">
        Subscribe to newsletter
      </mat-checkbox>
    </div>

    <!-- Multiple select -->
    <mat-form-field appearance="fill">
      <mat-label>Interests</mat-label>
      <mat-select formControlName="interests" multiple>
        <mat-option *ngFor="let interest of interests" [value]="interest">
          {{ interest }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Radio buttons -->
    <div class="radio-group">
      <label>Gender:</label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button *ngFor="let option of genderOptions" [value]="option">
          {{ option }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <button mat-raised-button color="primary" type="submit" class="submit-btn">
      Submit
    </button>
  </form>
</mat-card>
<!-- Displaying Form Control States -->
<mat-card *ngIf="form">
  <div class="wrap">
    <div *ngFor="let control of getFormControls()" class="form-info">
      <strong>{{ control.label }}:</strong>
      <p>Value: {{ control.value }}</p>
      <p>Dirty: {{ control.dirty }}</p>
      <p>Pristine: {{ control.pristine }}</p>
      <p>Touched: {{ control.touched }}</p>
      <p>Untouched: {{ control.untouched }}</p>
      <p>Valid: {{ control.valid }}</p>
      <p>Invalid: {{ control.invalid }}</p>
      <p>Errors: {{ control.errors | json }}</p>
    </div>
  </div>
</mat-card>
<router-outlet />
